body{
    background: #FFFFFA;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#header{
    z-index: -1;
    height: 90vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 600;
    opacity: 0.5;
}